<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaaccdatos.Properties.Settings.cn" connectionString="Data Source=(local);Initial Catalog=Kiosco;Persist Security Info=True;User ID=neocast;Password=kakashiI1223"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>